In [1]:
exec(open(f"_14_Graphs_and_PDF.py",encoding="utf-8").read())
df_all =df.copy()
df_all.head()
initial_investment= 100000

In [2]:
# Monthly returns table 
df = df.drop_duplicates(subset=['period'], keep='first')
df = df[['AnalysisEndDate','period', 'period_cash' ,
       'period_divs','period_total_cash',
       'period_stocks_value','period_total_holds'
      ]]
df.head()

,AnalysisEndDate,period,period_cash,period_divs,period_total_cash,period_stocks_value,period_total_holds
0,2024-05-07,0,485.885395,5929.68,6415.57,116557.57,122973.14
49,2024-04-07,1,485.885395,5839.47,6325.35,115521.49,121846.84
98,2024-03-07,2,485.885395,5666.22,6152.11,115482.10,121634.21
147,2024-02-07,3,2968.228177,5328.25,8296.48,108019.99,116316.47
196,2024-01-07,4,2968.228177,5233.61,8201.84,106411.58,114613.42

In [3]:

per_inv = len(df)
new_row = {
    "AnalysisEndDate": "Initial Investment",
    "period": per_inv,  # Assigning -1 to denote initial state before period 0
    "period_cash": 0,
    "period_divs": 0,
    "period_total_cash": 0,
    "period_stocks_value": 0,
    "period_total_holds": initial_investment
}

# Appending the new row
df = df.append(new_row, ignore_index=True)
df.sort_values(by='period', ascending=True, inplace=True)
# Calculate monthly returns
df['previous_total_holds'] = df['period_total_holds'].shift(-1)
# then add initial investment
df['monthly_return'] = (df['period_total_holds'] - df['previous_total_holds']) / df['previous_total_holds'] * 100

In [4]:
df

,AnalysisEndDate,period,period_cash,period_divs,period_total_cash,period_stocks_value,period_total_holds,previous_total_holds,monthly_return
0,2024-05-07,0,485.885395,5929.68,6415.57,116557.57,122973.14,121846.84,0.924357
1,2024-04-07,1,485.885395,5839.47,6325.35,115521.49,121846.84,121634.21,0.174811
2,2024-03-07,2,485.885395,5666.22,6152.11,115482.10,121634.21,116316.47,4.571786
3,2024-02-07,3,2968.228177,5328.25,8296.48,108019.99,116316.47,114613.42,1.485908
4,2024-01-07,4,2968.228177,5233.61,8201.84,106411.58,114613.42,112553.60,1.830079
5,2023-12-07,5,2968.228177,4777.15,7745.38,104808.22,112553.60,110057.48,2.268015
6,2023-11-07,6,2968.228177,4567.12,7535.35,102522.12,110057.48,109916.78,0.128006
7,2023-10-07,7,1852.200000,4348.72,6200.92,103715.86,109916.78,113114.95,-2.827363
8,2023-09-07,8,1852.200000,4194.65,6046.85,107068.09,113114.95,113417.35,-0.266626
9,2023-08-07,9,1852.200000,3817.12,5669.32,107748.03,113417.35,111403.81,1.807425
10,2023-07-07,10,1852.200000,3777.40,5629.60,105774.21,111403.81,111371.23,0.029254
11,2023-06-07,11,1852.200000,2565.46,4417.66,106953.57,111371.23,109617.65,1.599724
12,2023-05-07,12,1852.200000,2409.48,4261.68,105355.98,109617.65,109477.45,0.128063
13,2023-04-07,13,1852.200000,2375.43,4227.63,105249.82,109477.45,110311.76,-0.756320
14,2023-03-07,14,1852.200000,2210.77,4062.97,106248.79,110311.76,110121.56,0.172718
15,2023-02-07,15,1852.200000,1944.21,3796.41,106325.15,110121.56,105420.02,4.459817
16,2023-01-07,16,1852.200000,1909.16,3761.36,101658.66,105420.02,107489.79,-1.925550
17,2022-12-07,17,1852.200000,1469.69,3321.89,104167.90,107489.79,104984.58,2.386265
18,2022-11-07,18,1852.200000,1382.86,3235.06,101749.52,104984.58,103171.80,1.757050
19,2022-10-07,19,1852.200000,1288.11,3140.31,100031.50,103171.80,103680.30,-0.490450
20,2022-09-07,20,1852.200000,1225.57,3077.77,100602.53,103680.30,106527.38,-2.672627
21,2022-08-07,21,1852.200000,799.82,2652.02,103875.36,106527.38,102213.02,4.220950
22,2022-07-07,22,1852.200000,748.24,2600.44,99612.58,102213.02,100000.00,2.213020
23,Initial Investment,23,0.000000,0.00,0.00,0.00,100000.00,NaN,NaN

In [27]:
import pandas as pd

# Assuming df_report is already loaded into your workspace
# Ensure data is sorted by 'period' just in case
df_report.sort_values(by='period', inplace=True)

# Calculate monthly returns
# We'll shift the 'period_total_holds' by 1 to align previous period's values with the current period for calculation
df_report['monthly_return'] = (df_report['period_total_holds'] / df_report['period_total_holds'].shift(1) - 1) * 100

# # Rename columns for your final table format and select the first entry for each date
# # Assuming 'AnalysisEndDate' represents the end of each period and can be used as 'Date'
# final_table = df_report[['AnalysisEndDate', 'period_total_holds']].copy()
# final_table.rename(columns={'AnalysisEndDate': 'Date', 'period_total_holds': 'Growth 97 Model Portfolio'}, inplace=True)

# # Drop duplicates by Date, keeping the first occurrence
# final_table = final_table.drop_duplicates(subset='Date', keep='first')

# # Placeholder for 'Benchmark' until you provide the method to generate it
# final_table['Benchmark'] = None  # This will be replaced once we have the benchmark data

# # Set the date format as required
# final_table['Date'] = pd.to_datetime(final_table['Date']).dt.strftime('%Y-%m-%d')

# final_table['Benchmark'] = final_table['Growth 97 Model Portfolio'] * 0.95

# # Display the final table
# df_report = final_table.copy()
df_report

,Stock,units_hold,AnalysisEndDate,period,price_end_date,total_divs,stock_value_hold,period_cash,period_divs,period_total_cash,period_stocks_value,period_total_holds,monthly_return
0,360.AX,352.61,2024-05-07,0,14.90,0.00,5253.82,485.885395,5929.68,6415.57,116557.57,122973.14,NaN
27,JLG.AX,94.37,2024-05-07,0,5.81,17.01,548.32,485.885395,5929.68,6415.57,116557.57,122973.14,0.0
28,MCSI.XA,1691.04,2024-05-07,0,1.49,212.73,2519.65,485.885395,5929.68,6415.57,116557.57,122973.14,0.0
29,MIN.AX,14.88,2024-05-07,0,77.00,2.98,1145.45,485.885395,5929.68,6415.57,116557.57,122973.14,0.0
30,MQG.AX,6.89,2024-05-07,0,186.51,0.00,1284.31,485.885395,5929.68,6415.57,116557.57,122973.14,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1097,FEMX.AX,1228.42,2022-07-07,22,5.77,116.95,7087.97,1852.200000,748.24,2600.44,99612.58,102213.02,0.0
1098,GLOB.AX,2149.45,2022-07-07,22,3.86,225.15,8296.88,1852.200000,748.24,2600.44,99612.58,102213.02,0.0
1099,GOLD.AX,97.73,2022-07-07,22,23.79,0.00,2324.99,1852.200000,748.24,2600.44,99612.58,102213.02,0.0
1088,CBA.AX,19.22,2022-07-07,22,93.08,0.00,1789.15,1852.200000,748.24,2600.44,99612.58,102213.02,0.0
1126,XRO.AX,10.00,2022-07-07,22,85.67,0.00,857.03,1852.200000,748.24,2600.44,99612.58,102213.02,0.0

In [9]:
df_report['Date'] = pd.to_datetime(df_report['Date'])

# Calculate the percentage increase
df_report.sort_values('Date', inplace=True)
df_report['Growth 97 Portfolio % Increase'] = df_report['Growth 97 Model Portfolio'].pct_change() * 100
df_report['Benchmark % Increase'] = df_report['Benchmark'].pct_change() * 100

# Convert NaN values to 0% increase for the first row
df_report.fillna(0, inplace=True)

In [10]:
df_report

,Date,Growth 97 Model Portfolio,Benchmark,Growth 97 Portfolio % Increase,Benchmark % Increase
1111,2022-07-07,102213.02,97102.3690,0.000000,0.000000
1064,2022-08-07,106527.38,101201.0110,4.220950,4.220950
1028,2022-09-07,103680.30,98496.2850,-2.672627,-2.672627
965,2022-10-07,103171.80,98013.2100,-0.490450,-0.490450
916,2022-11-07,104984.58,99735.3510,1.757050,1.757050
869,2022-12-07,107489.79,102115.3005,2.386265,2.386265
818,2023-01-07,105420.02,100149.0190,-1.925550,-1.925550
769,2023-02-07,110121.56,104615.4820,4.459817,4.459817
722,2023-03-07,110311.76,104796.1720,0.172718,0.172718
671,2023-04-07,109477.45,104003.5775,-0.756320,-0.756320
622,2023-05-07,109617.65,104136.7675,0.128063,0.128063
575,2023-06-07,111371.23,105802.6685,1.599724,1.599724
524,2023-07-07,111403.81,105833.6195,0.029254,0.029254
475,2023-08-07,113417.35,107746.4825,1.807425,1.807425
427,2023-09-07,113114.95,107459.2025,-0.266626,-0.266626
370,2023-10-07,109916.78,104420.9410,-2.827363,-2.827363
328,2023-11-07,110057.48,104554.6060,0.128006,0.128006
280,2023-12-07,112553.60,106925.9200,2.268015,2.268015
230,2024-01-07,114613.42,108882.7490,1.830079,1.830079
181,2024-02-07,116316.47,110500.6465,1.485908,1.485908
133,2024-03-07,121634.21,115552.4995,4.571786,4.571786
83,2024-04-07,121846.84,115754.4980,0.174811,0.174811
0,2024-05-07,122973.14,116824.4830,0.924357,0.924357

In [11]:
initial_investment = 100000

df_report['Date'] = pd.to_datetime(df_report['Date'])

# Sort DataFrame by Date
df_report.sort_values('Date', inplace=True)

# Calculate monthly returns for both the portfolio and the benchmark
df_report['Portfolio Monthly Return'] = df_report['Growth 97 Model Portfolio'].pct_change() * 100
df_report['Benchmark Monthly Return'] = df_report['Benchmark'].pct_change() * 100

# Calculate total return since inception
initial_investment = df_report['Growth 97 Model Portfolio'].iloc[0]
portfolio_total_return = ((df_report['Growth 97 Model Portfolio'].iloc[-1] - initial_investment) / initial_investment) * 100
benchmark_total_return = ((df_report['Benchmark'].iloc[-1] - df_report['Benchmark'].iloc[0]) / df_report['Benchmark'].iloc[0]) * 100

# Calculate CAGR
years = (df_report['Date'].iloc[-1] - df_report['Date'].iloc[0]).days / 365.25
portfolio_cagr = ((df_report['Growth 97 Model Portfolio'].iloc[-1] / initial_investment) ** (1 / years) - 1) * 100
benchmark_cagr = ((df_report['Benchmark'].iloc[-1] / df_report['Benchmark'].iloc[0]) ** (1 / years) - 1) * 100

# Output results
print("Financial Analysis Results:")
print("-------------------------------")
print(f"Monthly Returns (Latest):")
print(f"Portfolio: {df_report['Portfolio Monthly Return'].iloc[-1]:.2f}%")
print(f"Benchmark: {df_report['Benchmark Monthly Return'].iloc[-1]:.2f}%")
print("-------------------------------")
print(f"Total Return Since Inception:")
print(f"Portfolio: {portfolio_total_return:.2f}%")
print(f"Benchmark: {benchmark_total_return:.2f}%")
print("-------------------------------")
print(f"CAGR (Compound Annual Growth Rate):")
print(f"Portfolio: {portfolio_cagr:.2f}%")
print(f"Benchmark: {benchmark_cagr:.2f}%")

Financial Analysis Results:
-------------------------------
Monthly Returns (Latest):
Portfolio: 0.92%
Benchmark: 0.92%
-------------------------------
Total Return Since Inception:
Portfolio: 20.31%
Benchmark: 20.31%
-------------------------------
CAGR (Compound Annual Growth Rate):
Portfolio: 10.61%
Benchmark: 10.61%

In [12]:
import pandas as pd

# Assuming df_report is your DataFrame
# Convert 'Date' to datetime
df_report['Date'] = pd.to_datetime(df_report['Date'])

# Sort DataFrame by Date
df_report.sort_values('Date', inplace=True)

# Calculate monthly returns for both the portfolio and the benchmark
df_report['Portfolio Monthly Return'] = df_report['Growth 97 Model Portfolio'].pct_change() * 100
df_report['Benchmark Monthly Return'] = df_report['Benchmark'].pct_change() * 100

# Calculate total return since inception
initial_investment = 100000
portfolio_total_return = ((df_report['Growth 97 Model Portfolio'].iloc[-1] - initial_investment) / initial_investment) * 100
benchmark_total_return = ((df_report['Benchmark'].iloc[-1] - initial_investment) / initial_investment) * 100

# Calculate CAGR
years = (df_report['Date'].iloc[-1] - df_report['Date'].iloc[0]).days / 365.25
portfolio_cagr = ((df_report['Growth 97 Model Portfolio'].iloc[-1] / initial_investment) ** (1 / years) - 1) * 100
benchmark_cagr = ((df_report['Benchmark'].iloc[-1] / initial_investment) ** (1 / years) - 1) * 100

# Output results
print("Financial Analysis Results:")
print("-------------------------------")
print(f"Monthly Returns (Latest):")
print(f"Portfolio: {df_report['Portfolio Monthly Return'].iloc[-1]:.2f}%")
print(f"Benchmark: {df_report['Benchmark Monthly Return'].iloc[-1]:.2f}%")
print("-------------------------------")
print(f"Total Return Since Inception:")
print(f"Portfolio: {portfolio_total_return:.2f}%")
print(f"Benchmark: {benchmark_total_return:.2f}%")
print("-------------------------------")
print(f"CAGR (Compound Annual Growth Rate):")
print(f"Portfolio: {portfolio_cagr:.2f}%")
print(f"Benchmark: {benchmark_cagr:.2f}%")

Financial Analysis Results:
-------------------------------
Monthly Returns (Latest):
Portfolio: 0.92%
Benchmark: 0.92%
-------------------------------
Total Return Since Inception:
Portfolio: 22.97%
Benchmark: 16.82%
-------------------------------
CAGR (Compound Annual Growth Rate):
Portfolio: 11.93%
Benchmark: 8.85%

In [13]:
# below works

In [14]:
# import pandas as pd
# import matplotlib.pyplot as plt
# from matplotlib.ticker import FuncFormatter
# import matplotlib.dates as mdates
# import matplotlib.gridspec as gridspec

# # Assuming df_report is already loaded and has the required data
# df_report['Date'] = pd.to_datetime(df_report['Date'])
# df_report.sort_values('Date', inplace=True)

# # Plotting
# plt.style.use('ggplot')
# fig = plt.figure(tight_layout=True, figsize=(12, 8))
# gs = gridspec.GridSpec(2, 1, height_ratios=[3, 1])

# ax1 = fig.add_subplot(gs[0])
# ax1.plot(df_report['Date'], df_report['Growth 97 Model Portfolio'], label='Growth 97 Model Portfolio', color='blue', marker='o', linewidth=0.8)
# ax1.plot(df_report['Date'], df_report['Benchmark'], label='Benchmark', color='orange', marker='o', linewidth=0.8)
# ax1.set_title('Growth of $100,000 since inception', fontsize=16)
# ax1.set_xlabel('Date', fontsize=12)
# ax1.set_ylabel('Portfolio Value', fontsize=12)
# ax1.legend()

# # Adding monthly vertical lines
# for date in df_report['Date']:
#     ax1.axvline(x=date, color='gray', linestyle='--', linewidth=0.5)

# # Assuming monthly returns have been calculated in df_report
# performance_data = {
#     'Months': df_report['Date'].dt.strftime('%Y-%m'),
#     'Portfolio Monthly Return': df_report['Portfolio Monthly Return'].round(2).astype(str) + '%',
#     'Benchmark Monthly Return': df_report['Benchmark Monthly Return'].round(2).astype(str) + '%'
# }

# performance_df = pd.DataFrame(performance_data)

# ax2 = fig.add_subplot(gs[1])
# ax2.axis('tight')
# ax2.axis('off')
# table = ax2.table(cellText=performance_df.values, colLabels=performance_df.columns, loc='center')
# table.auto_set_font_size(False)
# table.set_fontsize(10)
# table.scale(1.2, 1.2)

# # Display the plot
# plt.show()

In [15]:
df

,Stock,units_hold,AnalysisEndDate,period,price_end_date,total_divs,stock_value_hold,period_cash,period_divs,period_total_cash,period_stocks_value,period_total_holds
0,360.AX,352.61,2024-05-07,0,14.90,0.00,5253.82,485.885395,5929.68,6415.57,116557.57,122973.14
1,ACDC.AX,0.00,2024-05-07,0,94.92,200.15,0.00,485.885395,5929.68,6415.57,116557.57,122973.14
2,ALD.AX,29.19,2024-05-07,0,35.58,94.86,1038.48,485.885395,5929.68,6415.57,116557.57,122973.14
3,AMC.AX,121.05,2024-05-07,0,15.14,157.25,1832.67,485.885395,5929.68,6415.57,116557.57,122973.14
4,ANN.AX,0.00,2024-05-07,0,24.50,110.21,0.00,485.885395,5929.68,6415.57,116557.57,122973.14
...,...,...,...,...,...,...,...,...,...,...,...,...
1122,USIG.AX,0.00,2022-07-07,22,0.00,0.00,0.00,1852.200000,748.24,2600.44,99612.58,102213.02
1123,VCX.AX,420.98,2022-07-07,22,1.85,0.00,776.71,1852.200000,748.24,2600.44,99612.58,102213.02
1124,VHY.AX,0.00,2022-07-07,22,0.00,0.00,0.00,1852.200000,748.24,2600.44,99612.58,102213.02
1125,WES.AX,34.88,2022-07-07,22,44.78,0.00,1562.15,1852.200000,748.24,2600.44,99612.58,102213.02
1126,XRO.AX,10.00,2022-07-07,22,85.67,0.00,857.03,1852.200000,748.24,2600.44,99612.58,102213.02