In [1]:
# ret_apr = (((116557.57 + (5929.68 -5839.47)))/115521.49) /100    
# # axis show 0 and 100k more labels for y axis 
# # mre explicit, this is july 2022 till 
# # df.tail(5)
# # emphasis 9n the start of the investment , and also end of each month

In [1]:
%run _22_tbls.py

 ATTN !! _22_ LEDGER EXPORTED _df_costs_1_2_complete_LEDGER.pkl


BROCKAGE COSTS till 2022-07-01 are $ 606

Type 'cd' for today's date or 'pd' for the past adjusted date or the last day of the month:  pd
Enter the number of months ago:  1

Selected cutoff date: 2024-04-30
2024-04-30 00:00:00
2024-04-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2024-03-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2024-02-29
- - - - - - - - - - - - - > LEDGER PROCESSED
2024-01-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2023-12-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2023-11-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2023-10-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2023-09-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2023-08-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2023-07-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2023-06-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2023-05-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2023-04-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2023-03-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2023-02-28
- - - - - - - - - - - - - > LEDGER PROCESSED
2023-01-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2022-12-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2022-11-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2022-10-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2022-09-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2022-08-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2022-07-30
- - - - - - - - - - - - - > LEDGER PROCESSED

In [2]:
# last df_report
df_report
df = df_report.merge(df_br_costs, on='period', how='left').copy()
#df.head()

brokerage_paid = df['trans_fee'].sum()
initial_investment= 100000 
d_start_date= '2022-07-01'
cash_init = 1852.200000
# Monthly returns table 
df = df.drop_duplicates(subset=['period'], keep='first')
df = df[['AnalysisEndDate','period',
       'period_divs','period_total_cash',
       'period_stocks_value','period_total_holds'
      ]]

per_inv = len(df)
new_row = {
    "AnalysisEndDate": d_start_date,
    "period": per_inv,  # Assigning -1 to denote initial state before period 0

    "period_divs": 0,
    "period_total_cash": cash_init+0,
    "period_stocks_value": initial_investment-cash_init,
    "period_total_holds": initial_investment
}

# Appending the new row
df = df.append(new_row, ignore_index=True)
df.sort_values(by='period', ascending=True, inplace=True)
# Calculate monthly returns
df = df.merge(df_br_costs, on='period', how='left').copy()
# ACCOUNT NOW FOR TRANS FEES.
df['trans_fee']= df['trans_fee']*-1
#df['total_']= df['trans_fee']*-1

# ::::::::::::::::::::::::::::::::: TOTAL HOLDS DIFF from last period to the end month for the next
df['stock_hold_diff'] = df['period_stocks_value'].diff(-1)
# NOW that - >>>>>>>>>>>>>>> trans FEES 
df['stock_hold_diff_w_fee'] = df['stock_hold_diff'] + df['trans_fee']

# NOW WE HAVE THE DIFFERENCE STOCK HOLDS minus period fees , get rid of 'stock_hold_diff' , 'period_stocks_value' 

df = df[['AnalysisEndDate','period',
       'period_divs','period_total_cash','stock_hold_diff_w_fee','period_total_holds'

      ]]
# ::::::::::::::::::::::::::: TOTAL CASH DIFF : CASH + DIVIDENDS DIFFERENCE
df['divs_hold_diff_w_cash'] = df['period_total_cash'].diff(-1)

### --- FILTER THEM FOR GRAPHING ::: GRAPH 
#df_div_graph  = df[['AnalysisEndDate','period','period_divs','period_total_cash']]

### and get rid of period divs from df but do keep the difference 
df = df[['AnalysisEndDate','period','stock_hold_diff_w_fee','divs_hold_diff_w_cash','period_total_holds'

      ]]
df.head()

# ::::::::::::::::::::::::::: TOTAL RETURN END TO MONTH DIFF = 
df['monthly_return'] = df['stock_hold_diff_w_fee'] + df['divs_hold_diff_w_cash'] 
df

,AnalysisEndDate,period,stock_hold_diff_w_fee,divs_hold_diff_w_cash,period_total_holds,monthly_return
0,2024-04-30,0,-1901.08,122.25,122406.90,-1778.83
1,2024-03-30,1,4005.26,238.57,124185.74,4243.83
2,2024-02-29,2,6066.35,-2238.54,119941.92,3827.81
3,2024-01-30,3,-362.10,308.29,116114.10,-53.81
4,2023-12-30,4,4079.32,217.90,116068.91,4297.22
5,2023-11-30,5,4886.83,337.39,111758.69,5224.22
6,2023-10-30,6,-5249.40,1243.46,106534.47,-4005.94
7,2023-09-30,7,-3646.80,280.45,110540.40,-3366.35
8,2023-08-30,8,-1039.27,220.51,113880.76,-818.76
9,2023-07-30,9,970.78,810.06,114660.52,1780.84
10,2023-06-30,10,614.24,434.30,112879.68,1048.54
11,2023-05-30,11,952.34,139.56,111772.15,1091.90
12,2023-04-30,12,2171.95,72.09,110680.24,2244.04
13,2023-03-30,13,-541.62,204.04,108423.20,-337.58
14,2023-02-28,14,-449.17,208.19,108760.78,-240.98
15,2023-01-30,15,3723.30,252.63,108935.77,3975.93
16,2022-12-30,16,-3211.20,202.75,104959.83,-3008.45
17,2022-11-30,17,3883.41,165.67,107968.28,4049.08
18,2022-10-30,18,3096.95,17.47,103906.20,3114.42
19,2022-09-30,19,-4447.09,352.23,100791.78,-4094.86
20,2022-08-30,20,-411.48,147.66,104873.64,-263.82
21,2022-07-30,21,4366.71,770.75,105137.46,5137.46
22,2022-07-01,22,NaN,NaN,100000.00,NaN

In [29]:
122406.90/124185.74

0.9856759721365753

In [ ]:
# ret_apr = (((116557.57 + (5929.68 -5839.47)))/115521.49) /100    

df

In [27]:
5929.68 -5839.47

90.21000000000004

In [21]:
# NOW WE HAVE THE DIFFERENCE STOCK HOLDS minus period fees , get rid of 'stock_hold_diff' , 'period_stocks_value' 

df = df[['AnalysisEndDate','period',
       'period_divs','period_total_cash','stock_hold_diff_w_fee','period_total_holds'

      ]]
# ::::::::::::::::::::::::::: DIVIDENDS DIFFERENCE
df['divs_hold_diff'] = df['period_divs'].diff(-1)

### --- FILTER THEM FOR GRAPHING ::: GRAPH 
#df_div_graph  = df[['AnalysisEndDate','period','period_divs','period_total_cash']]

### and get rid of period divs from df but do keep the difference 
df = df[['AnalysisEndDate','period',
       'period_divs','period_total_cash','stock_hold_diff_w_fee','period_total_holds'

      ]]

In [22]:
# ret_apr = (((116557.57 + (5929.68 -5839.47)))/115521.49) /100    

df

,AnalysisEndDate,period,period_divs,period_total_cash,stock_hold_diff_w_fee,period_total_holds,divs_hold_diff
0,2024-04-30,0,5873.99,6359.88,-1901.08,122406.90,122.24
1,2024-03-30,1,5751.75,6237.63,4005.26,124185.74,238.57
2,2024-02-29,2,5513.18,5999.06,6066.35,119941.92,243.80
3,2024-01-30,3,5269.38,8237.60,-362.10,116114.10,308.29
4,2023-12-30,4,4961.09,7929.31,4079.32,116068.91,217.91
5,2023-11-30,5,4743.18,7711.41,4886.83,111758.69,337.39
6,2023-10-30,6,4405.79,7374.02,-5249.40,106534.47,127.43
7,2023-09-30,7,4278.36,6130.56,-3646.80,110540.40,280.45
8,2023-08-30,8,3997.91,5850.11,-1039.27,113880.76,220.51
9,2023-07-30,9,3777.40,5629.60,970.78,114660.52,810.06
10,2023-06-30,10,2967.34,4819.54,614.24,112879.68,434.30
11,2023-05-30,11,2533.04,4385.24,952.34,111772.15,139.56
12,2023-04-30,12,2393.48,4245.68,2171.95,110680.24,72.09
13,2023-03-30,13,2321.39,4173.59,-541.62,108423.20,204.04
14,2023-02-28,14,2117.35,3969.55,-449.17,108760.78,208.19
15,2023-01-30,15,1909.16,3761.36,3723.30,108935.77,252.63
16,2022-12-30,16,1656.53,3508.73,-3211.20,104959.83,202.75
17,2022-11-30,17,1453.78,3305.98,3883.41,107968.28,165.67
18,2022-10-30,18,1288.11,3140.31,3096.95,103906.20,17.47
19,2022-09-30,19,1270.64,3122.84,-4447.09,100791.78,352.23
20,2022-08-30,20,918.41,2770.61,-411.48,104873.64,147.66
21,2022-07-30,21,770.75,2622.95,4366.71,105137.46,770.75
22,2022-07-01,22,0.00,1852.20,NaN,100000.00,NaN

In [36]:
1852.20	+98147.80-265

99735.0

In [19]:
98147.80+1852

99999.8

In [ ]:
# ITERATE
import pandas as pd

# df is the main DataFrame, select a few necessary columns
df_pies = df[['Stock', 'AnalysisEndDate', 'period', 'stock_value_hold', 
              'period_cash','period_divs','period_total_cash', 'trans_fee']]

# Determine unique periods
unique_periods = sorted(df['period'].unique())

# Initialize an empty DataFrame to collect final results
df_final = pd.DataFrame()

# Iterate over each period
for period in unique_periods:
    # Filter by current period
    df_current = df_pies[df_pies['period'] == period]

    # Extract the first value from period_total_cash column (assuming all are the same)
    cash_value = df_current['period_total_cash'].iloc[0]
    analysis_end_date = df_current['AnalysisEndDate'].iloc[0]  # Same date for all entries in df_current
    trans_fee = df_current['trans_fee'].iloc[0]  # Same transaction fee for all entries in df_current

    # Create a new DataFrame to append
    new_row = pd.DataFrame({
        'Stock': ['CASH'],
        'AnalysisEndDate': [analysis_end_date],
        'period': [period],
        'stock_value_hold': [cash_value],
        'period_total_cash': [cash_value],  # This might be redundant but included for consistency
        'trans_fee': [trans_fee]
    })

    # Append the new row to df_current
    df_current = pd.concat([df_current, new_row], ignore_index=True)

    # Find the index of the 'CASH' row
    cash_index = df_current[df_current['Stock'] == 'CASH'].index[0]

    # Subtract the trans_fee from the stock_value_hold for the 'CASH' row
    df_current.loc[cash_index, 'stock_value_hold'] -= df_current.loc[cash_index, 'trans_fee']

    # Calculate the total of stock_value_hold for percentage calculation
    total_stock_value = df_current['stock_value_hold'].sum()

    # Calculate percentages in the stock_value_hold column
    df_current['stock_value_hold_pct'] = (df_current['stock_value_hold'] / total_stock_value) * 100

    # Select the columns for the final DataFrame
    df_current_pie = df_current[['Stock', 'AnalysisEndDate', 'period', 'stock_value_hold',
                                 'period_cash','period_divs','stock_value_hold_pct', 'trans_fee']]

    # Append the processed DataFrame to the final DataFrame
    df_final = pd.concat([df_final, df_current_pie], ignore_index=True)

# Resulting DataFrame
df_final.head(50)