In [1]:
exec(open(f"_14_Graphs_and_PDF.py",encoding="utf-8").read())
df_all =df.copy()
df_all.head()
brokerage_paid = 700 #do function 
initial_investment= 100000 - brokerage_paid
d_start_date= '2022-07-01'

In [2]:
# Monthly returns table 
df = df.drop_duplicates(subset=['period'], keep='first')
df = df[['AnalysisEndDate','period', 'period_cash' ,
       'period_divs','period_total_cash',
       'period_stocks_value','period_total_holds'
      ]]
#########

per_inv = len(df)
new_row = {
    "AnalysisEndDate": d_start_date,
    "period": per_inv,  # Assigning -1 to denote initial state before period 0
    "period_cash": 0,
    "period_divs": 0,
    "period_total_cash": 0,
    "period_stocks_value": 0,
    "period_total_holds": initial_investment
}

# Appending the new row
df = df.append(new_row, ignore_index=True)
df.sort_values(by='period', ascending=True, inplace=True)
# Calculate monthly returns
df['previous_total_holds'] = df['period_total_holds'].shift(-1)
# 

# MONTHLY RETURNS full AMOUNT
df['monthly_return'] = ((df['period_total_holds'] - df['previous_total_holds']) / df['previous_total_holds']) * 100
df['total_return'] = ((df['period_total_holds']/initial_investment)-1)*100

In [3]:
df.head()

,AnalysisEndDate,period,period_cash,period_divs,period_total_cash,period_stocks_value,period_total_holds,previous_total_holds,monthly_return,total_return
0,2024-05-07,0,485.885395,5929.68,6415.57,116557.57,122973.14,121846.84,0.924357,23.840020
1,2024-04-07,1,485.885395,5839.47,6325.35,115521.49,121846.84,121634.21,0.174811,22.705780
2,2024-03-07,2,485.885395,5666.22,6152.11,115482.10,121634.21,116316.47,4.571786,22.491652
3,2024-02-07,3,2968.228177,5328.25,8296.48,108019.99,116316.47,114613.42,1.485908,17.136425
4,2024-01-07,4,2968.228177,5233.61,8201.84,106411.58,114613.42,112553.60,1.830079,15.421370

In [4]:
import pandas as pd

# Assuming 'df' is your DataFrame and 'AnalysisEndDate' contains date as string
# Convert 'AnalysisEndDate' to datetime just once for the whole DataFrame
df['AnalysisEndDate'] = pd.to_datetime(df['AnalysisEndDate'])

# Get the first and last date from the DataFrame
start_date = df.iloc[1]['AnalysisEndDate']
end_date = df.iloc[0]['AnalysisEndDate']

# Since start_date and end_date are already datetime objects, you can directly use them
# Extract the day of the month for both start and end dates
start_day = start_date.day
end_day = end_date.day

# Format these dates to extract month and year
start_month = start_date.strftime('%B %Y')
end_month = end_date.strftime('%B %Y')

# Get the return percentage from the first recordable calculation
total_return = df.iloc[0]['monthly_return']  # This picks the latest month's return

# Create the message
message_mr = f"""The total return of the fund including dividends and,
cash flow from {start_date.strftime('%d %B %Y')} to {end_date.strftime('%d %B %Y')}, was: {total_return:.2f}%
"""
print(message_mr)

The total return of the fund including dividends and,
cash flow from 07 April 2024 to 07 May 2024, was: 0.92%

In [5]:
import pandas as pd

# Assuming 'df' is your DataFrame and 'AnalysisEndDate' contains date as string
# Convert 'AnalysisEndDate' to datetime just once for the whole DataFrame
df['AnalysisEndDate'] = pd.to_datetime(df['AnalysisEndDate'])

# Get the first and last date from the DataFrame
start_date = df.iloc[-1]['AnalysisEndDate']
end_date = df.iloc[0]['AnalysisEndDate']

# Since start_date and end_date are already datetime objects, you can directly use them
# Extract the day of the month for both start and end dates
start_day = start_date.day
end_day = end_date.day

# Format these dates to extract month and year
start_month = start_date.strftime('%B %Y')
end_month = end_date.strftime('%B %Y')

# Get the return percentage from the first recordable calculation
total_return = df.iloc[0]['total_return']  # This picks the latest month's return

# Create the message
message_tr = f"""The total return of the fund including dividends and,
cash flow from {start_date.strftime('%d %B %Y')} to {end_date.strftime('%d %B %Y')}, was: {total_return:.2f}%
"""
#print(message)

In [6]:
import pandas as pd

# Assuming 'df' is your DataFrame and 'AnalysisEndDate' contains date as string
# Convert 'AnalysisEndDate' to datetime just once for the whole DataFrame
df['AnalysisEndDate'] = pd.to_datetime(df['AnalysisEndDate'])

# Get the first and last date from the DataFrame
start_date = df.iloc[-1]['AnalysisEndDate']
end_date = df.iloc[0]['AnalysisEndDate']

# Since start_date and end_date are already datetime objects, you can directly use them
# Extract the day of the month for both start and end dates
start_day = start_date.day
end_day = end_date.day

# Format these dates to extract month and year
start_month = start_date.strftime('%B %Y')
end_month = end_date.strftime('%B %Y')

# Get the return percentage from the first recordable calculation
total_return_stocks = df.iloc[0]['period_stocks_value']  # This picks the latest month's return

# Create the message
message_psr = f"""The total Stock Holding Value from {start_date.strftime('%d %B %Y')} to {end_date.strftime('%d %B %Y')}, was: {total_return_stocks:.2f} $
"""
#print(message)

In [7]:
import pandas as pd

# Assuming 'df' is your DataFrame and 'AnalysisEndDate' contains date as string
# Convert 'AnalysisEndDate' to datetime just once for the whole DataFrame
df['AnalysisEndDate'] = pd.to_datetime(df['AnalysisEndDate'])

# Get the first and last date from the DataFrame
start_date = df.iloc[-1]['AnalysisEndDate']
end_date = df.iloc[0]['AnalysisEndDate']

# Since start_date and end_date are already datetime objects, you can directly use them
# Extract the day of the month for both start and end dates
start_day = start_date.day
end_day = end_date.day

# Format these dates to extract month and year
start_month = start_date.strftime('%B %Y')
end_month = end_date.strftime('%B %Y')

# Get the return percentage from the first recordable calculation
total_return_divs = df.iloc[0]['period_divs']  # This picks the latest month's return

# Create the message
message_psd = f"""The total Dividends from {start_date.strftime('%d %B %Y')} to {end_date.strftime('%d %B %Y')}, was: {total_return_divs:.2f} $
"""
#print(message)

In [8]:
import pandas as pd

# Assuming 'df' is your DataFrame and 'AnalysisEndDate' contains date as string
# Convert 'AnalysisEndDate' to datetime just once for the whole DataFrame
df['AnalysisEndDate'] = pd.to_datetime(df['AnalysisEndDate'])

# Get the first and last date from the DataFrame
start_date = df.iloc[-1]['AnalysisEndDate']
end_date = df.iloc[0]['AnalysisEndDate']

# Since start_date and end_date are already datetime objects, you can directly use them
# Extract the day of the month for both start and end dates
start_day = start_date.day
end_day = end_date.day

# Format these dates to extract month and year
start_month = start_date.strftime('%B %Y')
end_month = end_date.strftime('%B %Y')

# Get the return percentage from the first recordable calculation
total_return = df.iloc[0]['period_cash']  # This picks the latest month's return

# Create the message
message_pcb = f"""The total Cash Balance from {start_date.strftime('%d %B %Y')} to {end_date.strftime('%d %B %Y')}, was: {total_return:.2f} $
"""
#print(message)

In [9]:
# Assuming 'df' is your DataFrame and 'AnalysisEndDate' contains date as string
# Convert 'AnalysisEndDate' to datetime just once for the whole DataFrame
df['AnalysisEndDate'] = pd.to_datetime(df['AnalysisEndDate'])

# Get the first and last date from the DataFrame
start_date = df.iloc[-1]['AnalysisEndDate']
end_date = df.iloc[0]['AnalysisEndDate']

# Since start_date and end_date are already datetime objects, you can directly use them
# Extract the day of the month for both start and end dates
start_day = start_date.day
end_day = end_date.day

# Format these dates to extract month and year
start_month = start_date.strftime('%B %Y')
end_month = end_date.strftime('%B %Y')

# Get the return percentage from the first recordable calculation
total_return = df.iloc[0]['period_total_cash']  # This picks the latest month's return

# Create the message
message_pca = f"""The total Cash Amount accouting for Dividends and Cash Flow was: {total_return:.2f} $
"""
#print(message)

In [10]:
total_adjusted_final

NameError: name 'total_adjusted_final' is not defined

In [11]:
# CAGR

# Get the first and last date from the DataFrame
start_date = df.iloc[-1]['AnalysisEndDate']
end_date = df.iloc[0]['AnalysisEndDate']

final_value = total_return_stocks
dividends_received = total_return_divs

total_adjusted_final = final_value - initial_investment + dividends_received - brokerage_paid
time_difference = (end_date - start_date).days / 365.25  # Use 365.25 to account for leap years

CAGR = ((final_value + dividends_received - brokerage_paid) / initial_investment) ** (1 / time_difference) - 1
CAGR_percentage = CAGR * 100

message_cagr =f"""
The Compound Annual Growth Rate (CAGR) for the portfolio
from {start_date.strftime('%d %B %Y')} to {end_date.strftime('%d %B %Y')} is approximately {CAGR_percentage:.2f}% per annum
"""

In [12]:
#################################

In [13]:
report_p1 = f"""
Assuming Balance Growth, we have the following:

Portfolio Initial investment is: ${initial_investment+brokerage_paid} 
Approximately, we have blockage costs of: ${brokerage_paid}

{message_mr}
{message_tr}
{message_psr}
 -{message_psd}
 -{message_pcb}
{message_pca}

{message_cagr}
"""

In [14]:
print(report_p1)

Assuming Balance Growth, we have the following:

Portfolio Initial investment is: $100000
Approximately, we have blockage costs of: $700

The total return of the fund including dividends and,
cash flow from 07 April 2024 to 07 May 2024, was: 0.92%

The total return of the fund including dividends and,
cash flow from 01 July 2022 to 07 May 2024, was: 23.84%

The total Stock Holding Value from 01 July 2022 to 07 May 2024, was: 116557.57 $

 -The total Dividends from 01 July 2022 to 07 May 2024, was: 5929.68 $

 -The total Cash Balance from 01 July 2022 to 07 May 2024, was: 485.89 $

The total Cash Amount accouting for Dividends and Cash Flow was: 6415.57 $



The Compound Annual Growth Rate (CAGR) for the portfolio
from 01 July 2022 to 07 May 2024 is approximately 11.66% per annum

In [15]:
df

,AnalysisEndDate,period,period_cash,period_divs,period_total_cash,period_stocks_value,period_total_holds,previous_total_holds,monthly_return,total_return
0,2024-05-07,0,485.885395,5929.68,6415.57,116557.57,122973.14,121846.84,0.924357,23.840020
1,2024-04-07,1,485.885395,5839.47,6325.35,115521.49,121846.84,121634.21,0.174811,22.705780
2,2024-03-07,2,485.885395,5666.22,6152.11,115482.10,121634.21,116316.47,4.571786,22.491652
3,2024-02-07,3,2968.228177,5328.25,8296.48,108019.99,116316.47,114613.42,1.485908,17.136425
4,2024-01-07,4,2968.228177,5233.61,8201.84,106411.58,114613.42,112553.60,1.830079,15.421370
5,2023-12-07,5,2968.228177,4777.15,7745.38,104808.22,112553.60,110057.48,2.268015,13.347029
6,2023-11-07,6,2968.228177,4567.12,7535.35,102522.12,110057.48,109916.78,0.128006,10.833313
7,2023-10-07,7,1852.200000,4348.72,6200.92,103715.86,109916.78,113114.95,-2.827363,10.691621
8,2023-09-07,8,1852.200000,4194.65,6046.85,107068.09,113114.95,113417.35,-0.266626,13.912336
9,2023-08-07,9,1852.200000,3817.12,5669.32,107748.03,113417.35,111403.81,1.807425,14.216868
10,2023-07-07,10,1852.200000,3777.40,5629.60,105774.21,111403.81,111371.23,0.029254,12.189134
11,2023-06-07,11,1852.200000,2565.46,4417.66,106953.57,111371.23,109617.65,1.599724,12.156324
12,2023-05-07,12,1852.200000,2409.48,4261.68,105355.98,109617.65,109477.45,0.128063,10.390383
13,2023-04-07,13,1852.200000,2375.43,4227.63,105249.82,109477.45,110311.76,-0.756320,10.249194
14,2023-03-07,14,1852.200000,2210.77,4062.97,106248.79,110311.76,110121.56,0.172718,11.089386
15,2023-02-07,15,1852.200000,1944.21,3796.41,106325.15,110121.56,105420.02,4.459817,10.897845
16,2023-01-07,16,1852.200000,1909.16,3761.36,101658.66,105420.02,107489.79,-1.925550,6.163162
17,2022-12-07,17,1852.200000,1469.69,3321.89,104167.90,107489.79,104984.58,2.386265,8.247523
18,2022-11-07,18,1852.200000,1382.86,3235.06,101749.52,104984.58,103171.80,1.757050,5.724653
19,2022-10-07,19,1852.200000,1288.11,3140.31,100031.50,103171.80,103680.30,-0.490450,3.899094
20,2022-09-07,20,1852.200000,1225.57,3077.77,100602.53,103680.30,106527.38,-2.672627,4.411178
21,2022-08-07,21,1852.200000,799.82,2652.02,103875.36,106527.38,102213.02,4.220950,7.278328
22,2022-07-07,22,1852.200000,748.24,2600.44,99612.58,102213.02,99300.00,2.933555,2.933555
23,2022-07-01,23,0.000000,0.00,0.00,0.00,99300.00,NaN,NaN,0.000000

In [23]:
# Ensure dates are converted to datetime and sorted if needed
df['AnalysisEndDate'] = pd.to_datetime(df['AnalysisEndDate'])
df = df.sort_values(by='AnalysisEndDate')

# Get the first and last date from the DataFrame
start_date = df.iloc[0]['AnalysisEndDate']  # Assuming the DataFrame is sorted in ascending order
end_date = df.iloc[-1]['AnalysisEndDate']

# Debug: print intermediate values
print(f"Start Date: {start_date}, End Date: {end_date}")
print(f"Initial Investment: {initial_investment}, Final Value: {final_value}, Dividends Received: {dividends_received}, Brokerage Paid: {brokerage_paid}")

total_adjusted_final = final_value - initial_investment + dividends_received - brokerage_paid
time_difference = (end_date - start_date).days / 365.25

# Debug: print calculated total and time difference
print(f"Total Adjusted Final: {total_adjusted_final}, Time Difference: {time_difference}")

CAGR = (total_adjusted_final / initial_investment) ** (1 / time_difference) - 1
CAGR_percentage = CAGR * 100

message_cagr = f"""
The Compound Annual Growth Rate (CAGR) for the portfolio
from {start_date.strftime('%d %B %Y')} to {end_date.strftime('%d %B %Y')} is approximately {CAGR_percentage:.2f}% per annum.
"""
print(message_cagr)

Start Date: 2022-07-01 00:00:00, End Date: 2024-05-07 00:00:00
Initial Investment: 99300, Final Value: 116557.57, Dividends Received: 5929.68, Brokerage Paid: 700
Total Adjusted Final: 22487.250000000007, Time Difference: 1.8507871321013005

The Compound Annual Growth Rate (CAGR) for the portfolio
from 01 July 2022 to 07 May 2024 is approximately -55.18% per annum.

In [25]:
# Given data
final_value = total_return_stocks
dividends_received = total_return_divs

# Total value at the end adjusted for dividends and brokerage
total_adjusted_final = final_value - initial_investment + dividends_received - brokerage_paid

# Time difference in years
time_difference = 1.8507871321013005

# CAGR calculation
CAGR = ((final_value + dividends_received - brokerage_paid) / initial_investment) ** (1 / time_difference) - 1
CAGR_percentage = CAGR * 100

# Output the result
print(f"The Compound Annual Growth Rate (CAGR) for the portfolio from 01 July 2022 to 07 May 2024 is approximately {CAGR_percentage:.2f}% per annum.")

The Compound Annual Growth Rate (CAGR) for the portfolio from 01 July 2022 to 07 May 2024 is approximately 12.01% per annum.